:root {
    --color-botones: #110949;
    --color-fondo: #02010a;
    --color-texto: #003ce5;
    --color-btn-txt: #4959ff;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-fondo);
    font-family: Arial, sans-serif;
}

#game-container {
    text-align: center;
}

#score {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--color-texto);
}

#start-btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: var(--color-botones);
    color: var(--color-btn-txt);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-btn:hover {
    background-color: #45a049;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 85px); /* 4 columnas de 85px = 340px total */
    grid-template-rows: repeat(4, 85px); /* 4 filas de 85px = 340px total */
    width: 340px; /* Mantener el ancho total */
    height: 340px; /* Ajustar altura para coincidir con el ancho */
    margin: 20px auto;
    gap: 0; /* Eliminar el espacio entre tiles (antes era 5px) */
    padding: 0; /* Asegurar que no haya padding */
}

.tile {
    width: 100%; /* Ocupar todo el ancho de la celda */
    height: 100%; /* Ocupar toda la altura de la celda */
    background-color: white;
    border: 2px solid #0000004c; /* Eliminar el borde de 2px */
    cursor: pointer;
}

.tile.red-transition {
    transition: background-color 0.5s ease; /* Transición suave de 0.5s para el color */
}

#game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: red;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

#home-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#home-screen h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: var(--color-texto);
}

#home-screen button {
    font-size: 20px;
    padding: 15px 30px;
    margin: 10px;
    background-color: var(--color-botones);
    color: var(--color-texto);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#home-screen button:hover {
    background-color: #1976D2;
}

#home-btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: var(--color-botones);
    color: var(--color-btn-txt);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#home-btn:hover {
    background-color: #E64A19;
}

#final-time {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: green;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}
